.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: green;
}

#clockLabel {
  font-size: 100;
  font-family: System-Bold;
  text-length: 80;
  text-anchor: middle;
  x: 50%-15;
  y: 55%;
  fill: black;
}